#container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 5%;
    background-color: lemonchiffon;
}
.box{
    width: 300px;
    background-color: slategray;
    color: steelblue;
    padding: 15%;
    border-radius: 10px;
    text-align: center;
}